@font-face {
  font-family: "iconfont"; /* Project id 2597900 */
  src: url('iconfont.woff2?t=1623079255316') format('woff2'),
       url('iconfont.woff?t=1623079255316') format('woff'),
       url('iconfont.ttf?t=1623079255316') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-setting:before {
  content: "\e6b8";
}

.icon-play:before {
  content: "\e632";
}

.icon-POWER:before {
  content: "\e7f9";
}

.icon-rocket:before {
  content: "\e991";
}

.icon-zip:before {
  content: "\e61e";
}

.icon-anzhuangbao:before {
  content: "\e6ef";
}

